<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	<link rel="stylesheet" href="assets/styles/style.css">
	<title>Node JS Essentials </title>
</head>
<body>
  <nav>
    <ul>
      </<ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="contact">Contact us</a></li>
      </ul>
  </nav>
<header>
	<h1>This is header</h1>
</header>
