<div class="all">
  <div class="jose">
    <%- include('partials/header'); %>

    <h2>Details successfully submitted </h2>
    <p>Thank you <%= data.names %> i understand you are a  <%= data.job %></p>

  </div>
</div>
